:root {
    --gray-text: #605e5e;
    --link-color: #50e3c3;
    --link-darker-color: #34937f;
    --action-color: #50e3c3;
    --action-darker-color: #40b69c;
    --action-lighter-color: #b9f4e7;
    --action-contrast-color: #000000;
    --body-font: Montserrat;
    --heading-font: Montserrat;
    --subtitle-font: Roboto Condensed;
    --title-font: Roboto Condensed;
    --logo-color: #50e3c3;
    --header-color: #333333;
    --header-footer-link-color: #b0adad;
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-font), sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

/* GRID TEMPLATE CSS START */

.grid-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}

/* GRID TEMPLATE CSS END */

/* HEADER + NAV CSS START */

nav {
    font-family: var(--heading-font), sans-serif;
    background-color: var(--header-color);
}

.nav-link {
    color: var(--header-footer-link-color);
}

.nav-link:hover {
    color: var(--header-footer-link-color);
    border-bottom: 0.14285714rem solid #fac600;
    border-bottom-color: var(--action-color, #fac600);
}

/* HEADER + NAV CSS END */

/* FOOTER CSS START */

footer {
    background-color: #444;
}

.footer-link {
    color: var(--header-footer-link-color);
}

.footer-link:hover {
    color: var(--action-lighter-color);
}

/* FOOTER CSS END */

/* INDEX CSS START */

.fit-cover {
    object-fit: cover;
}

/* INDEX CSS END */

/* LOGIN CSS START */

#login-grid {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:auto 80% auto;
}

#content {
    margin-top: auto;
    margin-bottom: auto;
}

#login-submit {
    background-color: #9d9999;
    color: #fff;
}

#sign-up-link {
    color: var(--link-color);
}

/* LOGIN CSS END */

/* FAQ CSS START */

.accordion-button:not(.collapsed) {
    color: var(--action-contrast-color);
    background-color: var(--action-lighter-color);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

/* FAQ CSS END */

/* GALLERY CSS START */

.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 80vh;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.carousel-item:nth-child(1) {
    background-image: url("/resources/img/gallery/hotel_beds_photo.jpg");
}

.carousel-item:nth-child(2) {
    background-image: url('/resources/img/gallery/hotel_glass_wall_restaraunt.jpg');
}

.carousel-item:nth-child(3) {
    background-image: url('/resources/img/gallery/hotel_hall_photo.jpg');
}

.carousel-item:nth-child(4) {
    background-image: url('/resources/img/gallery/hotel_portier_photo.jpg');
}

.carousel-item:nth-child(5) {
    background-image: url("/resources/img/gallery/liv_room_photo.jpg");
}

.carousel-item:nth-child(6) {
    background-image: url('/resources/img/gallery/hotel_restaraunt_photo.jpg');
}

.carousel-item:nth-child(7) {
    background-image: url('/resources/img/gallery/hotel_toilet_photo.jpg');
}

.carousel-item:nth-child(8) {
    background-image: url('/resources/img/gallery/hotel_sw_pool_photo.jpg');
}

.carousel-item:nth-child(9) {
    background-image: url('/resources/img/gallery/hotel_river_photo.jpg');
}

/* GALLERY CSS END */

/* CONTACT CSS START */

.guests-label {
    background-color: white;
    border: none;
}

@media (max-width: 768px) {
    #arr-dep-arrow {
        transform: rotate(90deg);
    }
}

textarea {
    resize: none;
}

#submit-contact {
    background-color: var(--action-color);
}

/* CONTACT CSS END */