:root {
    /*TODO: change variables*/
    /*--bg-back: #bdc3c7;*/
    /*--bg-main: #ecf0f1;*/
    /*--bg-main-lite: ;*/
    /*--bg-inv: #34495e;*/
    /*--bg-inv-lite: #2c3e50;*/
    /*--color-main: #2c3e50;*/
    /*--color-main-lite: #7f8c8d;*/
    /*--color-inv: #ecf0f1;*/
    /*--color-inv-lite: #bdc3c7;*/
    /*--color-link: #3498db;*/
    /*--color-link-lite: #2980b9;*/
    /*--red: #e74c3c;*/
    /*--red-lite: #c0392b;*/
    /*--yellow: #f1c40f;*/
    /*--yellow-lite: #f39c12;*/
}

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}