<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Contact</title>
	<link href="../styles/css/bootstrap.min.css" rel="stylesheet">
	<link href="../styles/css/base.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&display=swap" rel="stylesheet">
	<link crossorigin="anonymous"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	      referrerpolicy="no-referrer"
	      rel="stylesheet"/>
	<script crossorigin="anonymous"
	        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
	        referrerpolicy="no-referrer"
	        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
</head>
<body>
	<div class="grid-container">
		<header>
			<nav class="navbar navbar-expand-md">
				<div class="container d-flex align-items-center">
					<a class="navbar-brand mx-0 border-0" href="../index.html"><img alt="Motel X Logo"
					                                                                draggable="false"
					                                                                height="70"
					                                                                id="Mote-X-logo"
					                                                                src="/resources/img/logo-no-background.png"/></a>
					<button class="navbar-toggler"
					        data-bs-target="#navbar"
					        data-bs-toggle="collapse">
						<i class="fas fa-bars"></i>
					</button>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="navbar-nav ms-auto align-items-center">
							<li class="nav-item">
								<a class="nav-link mx-2" href="/view/blog.html"><i class="fa-solid fa-blog pe-2"></i>Blog</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mx-2" href="/view/gallery.html"><i
									class="fa-regular fa-images pe-2"></i>Gallery</a>
							</li>
							<li class="nav-item">
								<a class="nav-link mx-2" href="/view/help.html"><i class="fa-solid fa-circle-info pe-2"></i>Help
								</a>
							</li>
							<li class="nav-item mx-2">
								<a class="nav-link mx-2" href="/view/login.html"><i class="fa-solid fa-right-to-bracket pe-2"></i>Log In</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="h-75">
		
		</main>
		<footer class="text-center text-lg-start py-3">
			<!-- Grid container -->
			<div class="container">
				<!-- Section: Links -->
				<section>
					<!-- Grid row-->
					<div class="row text-center d-flex justify-content-center py-4">
						<!-- Grid column -->
						<div class="col-md-2">
							<h6 class="text-uppercase font-weight-bold">
								<a class="text-decoration-none footer-link" href="impressum.html">About us</a>
							</h6>
						</div>
						<!-- Grid column -->
						
						<!-- Grid column -->
						<div class="col-md-2">
							<h6 class="text-uppercase font-weight-bold">
								<a class="text-decoration-none footer-link" href="blog.html">Blog</a>
							</h6>
						</div>
						<!-- Grid column -->
						
						<!-- Grid column -->
						<div class="col-md-2">
							<h6 class="text-uppercase font-weight-bold">
								<a class="text-decoration-none footer-link" href="help.html">Help</a>
							</h6>
						</div>
						<!-- Grid column -->
						
						<!-- Grid column -->
						<div class="col-md-2">
							<h6 class="text-uppercase font-weight-bold">
								<a class="text-decoration-none footer-link" href="contact.html">Contact</a>
							</h6>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row-->
				</section>
				<!-- Section: Links -->
				
				<!-- Section: Social -->
				<section class="text-center my-2">
					<a class="text-white me-4 text-decoration-none" href="#">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a class="text-white me-4 text-decoration-none" href="">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<a class="text-white me-4 text-decoration-none" href="">
						<i class="fa-brands fa-google"></i>
					</a>
					<a class="text-white me-4 text-decoration-none" href="">
						<i class="fa-brands fa-instagram"></i>
					</a>
					<a class="text-white me-4 text-decoration-none" href="#">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</section>
				<!-- Section: Social -->
			</div>
			<!-- Grid container -->
		</footer>
	</div>
	<script src="../styles/js/bootstrap.bundle.min.js"></script>
</body>
</html>