<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Help</title>
	<link href="../styles/css/bootstrap.min.css" rel="stylesheet">
	<link href="../styles/css/base.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&display=swap" rel="stylesheet">
	<link crossorigin="anonymous"
	      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
	      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
	      referrerpolicy="no-referrer"
	      rel="stylesheet"/>
	<script crossorigin="anonymous"
	        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
	        referrerpolicy="no-referrer"
	        src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>
</head>
<body>
<div class="grid-container">
	<header>
		<nav class="navbar navbar-expand-md">
			<div class="container d-flex align-items-center">
				<a class="navbar-brand mx-0 border-0" href="../index.html"><img alt="Motel X Logo"
				                                                                draggable="false"
				                                                                height="70"
				                                                                id="Mote-X-logo"
				                                                                src="/resources/img/hotel/hotel_logo.png"/></a>
				<button class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav ms-auto align-items-center">
						<li class="nav-item">
							<a class="nav-link mx-2"
							   href="/view/blog.html"><i class="fa-solid fa-blog pe-2"></i>Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2" href="/view/gallery.html"><i class="fa-regular fa-images pe-2"></i>Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link mx-2" href="/view/help.html"><i class="fa-solid fa-circle-info pe-2"></i>Help
							</a>
						</li>
						<li class="nav-item mx-2">
							<a class="nav-link mx-2"
							   href="/view/login.html"><i class="fa-solid fa-right-to-bracket pe-2"></i>Log In</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="container py-md-5 py-4">
			<div class="row justify-content-center mb-4 mb-md-5">
				<div class="col-10 col-sm-8 col-lg-6 text-center">
					<h3>Frequently Asked Questions</h3>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-10 col-sm-10 col-lg-8">
					<div class="accordion-flush" id="faq">
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingOne">
									<button aria-controls="flush-collapseOne"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseOne"
									        data-bs-toggle="collapse"
									        type="button">
										Wie kann ich bei Motel X buchen?
									</button>
								</h2>
								<div aria-labelledby="flush-headingOne"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseOne">
									<div class="accordion-body">Melden Sie sich an und buchen Sie ihre gewünschten
									                            Aufenthalt. Ihre Daten werden direkt bei uns ins System
									                            übertragen und bei Anreise erhalten Sie Ihren Gutschein.
									</div>
								</div>
							</div>
						</div>
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingTwo">
									<button aria-controls="flush-collapseTwo"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseTwo"
									        data-bs-toggle="collapse"
									        type="button">
										Wie viele Zimmer kann ich auf einmal auf motel-one.com buchen?
									</button>
								</h2>
								<div aria-labelledby="flush-headingTwo"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseTwo">
									<div class="accordion-body">Online können Sie bis zu 4 Zimmer auf einmal buchen.
									</div>
								</div>
							</div>
						</div>
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingThree">
									<button aria-controls="flush-collapseThree"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseThree"
									        data-bs-toggle="collapse"
									        type="button">
										Können Parkplätze reserviert werden?
									</button>
								</h2>
								<div aria-labelledby="flush-headingThree"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseThree">
									<div class="accordion-body">Nein, bei Motel One können keine Parkplätze reserviert
									                            werden.
									</div>
								</div>
							</div>
						</div>
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingFour">
									<button aria-controls="flush-collapseFour"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseFour"
									        data-bs-toggle="collapse"
									        type="button">
										Wie kann ich meine Profildaten ändern?
									</button>
								</h2>
								<div aria-labelledby="flush-headingFour"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseFour">
									<div class="accordion-body">Melden Sie sich an und klicken Sie auf "Profil". Dort
									                            sehen Sie Ihre eingetragenen Daten und können diese
									                            ändern.
									</div>
								</div>
							</div>
						</div>
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingFive">
									<button aria-controls="flush-collapseFive"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseFive"
									        data-bs-toggle="collapse"
									        type="button">
										Wo finde ich ihre Kontaktdaten?
									</button>
								</h2>
								<div aria-labelledby="flush-headingFive"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseFive">
									<div class="accordion-body">Ganz unten auf der Home Page footer finden Sie die
									                            "About us" Section.
									</div>
								</div>
							</div>
						</div>
						<div class="card border-2 rounded-2 faq-card mb-3 mb-md-4">
							<div class="accordion-item">
								<h2 class="accordion-header" id="flush-headingSix">
									<button aria-controls="flush-collapseSix"
									        aria-expanded="false"
									        class="accordion-button collapsed"
									        data-bs-target="#flush-collapseSix"
									        data-bs-toggle="collapse"
									        type="button">
										Kann ich selbst einen News Beitrag schreiben und hochladen?
									</button>
								</h2>
								<div aria-labelledby="flush-headingSix"
								     class="accordion-collapse collapse"
								     data-bs-parent="#faq"
								     id="flush-collapseSix">
									<div class="accordion-body">Leider nein, den Zugang darauf haben nur unsere
									                            Administratorinnen.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="text-center text-lg-start py-3">
		<!-- Grid container -->
		<div class="container">
			<!-- Section: Links -->
			<section>
				<!-- Grid row-->
				<div class="row text-center d-flex justify-content-center py-4">
					<!-- Grid column -->
					<div class="col-md-2">
						<h6 class="text-uppercase font-weight-bold">
							<a class="text-decoration-none footer-link" href="impressum.html">About us</a>
						</h6>
					</div>
					<!-- Grid column -->
					
					<!-- Grid column -->
					<div class="col-md-2">
						<h6 class="text-uppercase font-weight-bold">
							<a class="text-decoration-none footer-link" href="blog.html">Blog</a>
						</h6>
					</div>
					<!-- Grid column -->
					
					<!-- Grid column -->
					<div class="col-md-2">
						<h6 class="text-uppercase font-weight-bold">
							<a class="text-decoration-none footer-link" href="help.html">Help</a>
						</h6>
					</div>
					<!-- Grid column -->
					
					<!-- Grid column -->
					<div class="col-md-2">
						<h6 class="text-uppercase font-weight-bold">
							<a class="text-decoration-none footer-link" href="contact.html">Contact</a>
						</h6>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row-->
			</section>
			<!-- Section: Links -->
			
			<!-- Section: Social -->
			<section class="text-center my-2">
				<a class="text-white me-4 text-decoration-none" href="#">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a class="text-white me-4 text-decoration-none" href="">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a class="text-white me-4 text-decoration-none" href="">
					<i class="fa-brands fa-google"></i>
				</a>
				<a class="text-white me-4 text-decoration-none" href="">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a class="text-white me-4 text-decoration-none" href="#">
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</section>
			<!-- Section: Social -->
		</div>
		<!-- Grid container -->
	</footer>
</div>
<script src="../styles/js/bootstrap.bundle.min.js"></script>
</body>
</html>