<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="stylesheet" href="../styles/base.css">
</head>
<body>
	<div id="content">
		<div id="login-panel">
			<div id="hotel-img">
				<img alt="hotel-img" src="../resources/img/hotel.png">
			</div>
			<div id="login-header">
				<h1>Motel X</h1>
			</div>
			<div class="container">
				<div class="front-panel">
					<form action="#" id="login-form" method="post">
						<div class="form-group">
							<label class="control-label" for="email">Email address</label>
							<input autofocus="autofocus" class="form-control" id="email" name="email" placeholder=" test@example.com"
							       type="email">
						</div>
						<div class="form-group">
							<label class="control-label" for="passwd">
								Password
							</label>
							<input name="passwd" type="password" id="passwd" class="form-control" placeholder=" Password">
						</div>
						<div class="form-group">
							<button id="submit_login" name="submitLogin" type="submit">
								<span>
									Log in
								</span>
							</button>
						</div>
						<div class="form-group">
							<a href="registration.html" target="_self">
							Don't have an account yet?
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>