<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung</title>
</head>
<body>
    <head>
        <div></div> <!-- after css -->
    </head>
    <main>
    <form action="">
        <div>
            <h1>REGISTRATION FORM</h1>

            <div>
                <label for="Email">E-Mail</label>
                <input type="email" id="Email" placeholder="example@mail.com" required>
                <label for="username">User name</label>
                <input type="text" id="username" placeholder="Username">
            </div>
            <div>
                <label for="password">Passwort</label>
                <input type="password" id="password" placeholder="Passwort" required>
                <label for="password_repeat">Passwort</label>
                <input type="password" id="password_repeat" placeholder="Passwort" required>
            </div>
            <div>
            <label for="address">Anrede :</label>
            <select name="address" id="address">
                
                <option value="frau">Frau</option>
                <option value="herr">Herr</option>
                <option value="kAnrede">Keine Anrede</option>
            </select>
                <label for="Firstname">Name</label>
                <input type="text" id="Firstname" placeholder="Name" required>
                <label for="Lastname">Nachname</label>
                <input type="text" id="Lastname" placeholder="Nachname" required>
                <label for="tel_number">Telefonnummer</label>
                <input type="text" id="tel_number" placeholder="Telefonnummer">
            <div>
                <label for="adresse">Adresse</label>
                <input type="text" id="adresse" placeholder="Adresse">
                <label for="country">Land</label>
                <input type="text" id="country" placeholder="Land">
                <label for="city">Stadt</label>
                <input type="text" id="city" placeholder="Stadt">
                <label for="zip">PLZ</label>
                <input type="number" name="zip" id="zip">
            </div>
            </div>
            <label for="check_agb">Ich habe AGB gelesen</label>
            <input type="checkbox" id="check_agb" required> <br>
            <input type="submit">
        </div>
        
    </form>
    </main>
</body>
</html>